/* Gruppierung alle 4 Spiele */
tr:nth-child(4n+1) { border-top: 20px solid white !important; }

td { vertical-align: middle !important; text-align: center; }
/* Spaltenbreiten */
td:nth-child(1) { width: 10px; }
td:nth-child(2) { width: 150px; }
td:nth-child(3) { width: 150px; }
td:nth-child(4) { width: 60px; }
td:nth-child(5) { width: 60px; }
td:nth-child(6) { width: 40px; }
td:nth-child(7) { width: 40px; }
table>tbody>tr>td { border-top: none !important; }

span.spielstand { font-weight: bold; }
select.double { width: 50%; display: inline-block; font-size: .85em; }
/* Keine "Spinner" bei den numeric <input>s */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance:textfield;
    width: 2em;
}


select.winner { background-color: #dff0d8; color: #3c763d; }
/*select.loser  { background-color: #f2dede; color: #a94442; }*/

/* Contaos Einstellungen (die auf ein oder Zweispalter abzielen) überschreiben */
.styled_select { width: 150px; }
.styled_select.double { width: 75px; }

/* Ein Spieler kann nur an einer Position spielen. Sobald er gewählt wurde
ist er nicht mehr verfügbar (Note: does not work with macOS-webkit Browsers!) */
select option.isNotAvailable {
    color: #ccc;
    text-decoration: line-through;
}
