{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    {{ headline }} {# Not only the content of the `title`-tag but also the title of the content section. #}
{% endblock %}

{% block error %}
    {#- Will be placed within the error block and displayed there if not empty -#}
{% endblock %}

{% block main %}
    <div id="tl_buttons">
        <a href="contao?do=liga.begegnung" class="header_back" title="" accesskey="b" onclick="Backend.getScrollOffset()">Zurück</a>
    </div>

    {% include '@Contao_FiedschLigaverwaltungBundle/begegnung_dataentry_vue.html.twig' %}

{% endblock %}
