<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <style>
        div.page {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: calc(21.0cm - 3cm);
            height: calc(29.7cm - 3cm);
            padding: 0;
            margin: auto;
        }
        div.headercontainer {
            position: relative;
            left: 45%;
            top: 0;
            width: 55%;
        }
        div.middle {}
        div.bottom {}
        div.rechnung {
            margin-top: 0;
            width: 450px;
        }
        @media print {
            div.page {
                page-break-before: always;
            }
            .noprint { display: none; }
        }
    </style>
</head>
<body>

<h1>Rechnungsdaten für die Saison {{ saison }}</h1>

<div class="noprint">
Aktueller Stand: Drucken als PDF <b>mit Firefox</b>!
<br>
Getestet mit Firefox (Version 80.0.1) funktioniert!<br>
Getestet mit Chrome (Version 85.0.4183.102) funktioniert nicht (Daten vertikal "verschoben").
</div>

{% set MWSTSATZ = 19 %}
{% set absender = '' %}

<h2>Spielorte</h2>
{% for sp in spielorte %}
    <div class="page">
        <div class="headercontainer">
            {% include '@Contao_FiedschLigaverwaltungBundle/rechnungsdaten/html/rechnungsdaten.header.html.twig' %}
        </div>
        <div class="rechnung">
            {% set empfaenger = sp %}
            {% include '@Contao_FiedschLigaverwaltungBundle/rechnungsdaten/html/rechnungsdaten.rechnung.spielort.html.twig' %}
        </div>
        <div class="middle">
            {% include '@Contao_FiedschLigaverwaltungBundle/rechnungsdaten/html/rechnungsdaten.standardtext.html.twig' %}
        </div>
        <div class="bottom">
            {% include '@Contao_FiedschLigaverwaltungBundle/rechnungsdaten/html/rechnungsdaten.footer.html.twig' %}
        </div>
    </div>
{% endfor %}


<h2>Aufsteller</h2>

{% for au in aufsteller %}
    <div class="page">
        <div class="headercontainer">
            {% include '@Contao_FiedschLigaverwaltungBundle/rechnungsdaten/html/rechnungsdaten.header.html.twig' %}
        </div>
        <div class="rechnung">
            {% set empfaenger = au %}
            {% include '@Contao_FiedschLigaverwaltungBundle/rechnungsdaten/html/rechnungsdaten.rechnung.aufsteller.html.twig' %}
        </div>
        <div class="middle">
            {% include '@Contao_FiedschLigaverwaltungBundle/rechnungsdaten/html/rechnungsdaten.standardtext.html.twig' %}
        </div>
        <div class="bottom">
            {% include '@Contao_FiedschLigaverwaltungBundle/rechnungsdaten/html/rechnungsdaten.footer.html.twig' %}
        </div>
    </div>
{% endfor %}

</body>
</html>
