<div id="lb-headerimage">
    <div class="inside">
        <div class="headerimage">
            <div class="mastertext">
                <div class="main">BeDV</div>
                <div class="sub">Bayerischer Elektronik-Dart Verein  e.V.</div>
            </div>
        </div>
    </div>
</div>
