<div class="footer">
            <div>
                footer zeile a<br>
                footer zeile b<br>
                footer zeile c
            </div>
            <div>
                zeile 1<br>
                zeile 2<br>
                zeile 3
            </div>
            <div>
                zeile 1a<br>
                zeile 2a<br>
                zeile 3a<br>
                zeile 4a
            </div>
</div>

<style>
    .footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }
</style>
